<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Good_Morning.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Good_Morning.Properties.Settings>
            <setting name="button13" serializeAs="String">
                <value />
            </setting>
            <setting name="button1" serializeAs="String">
                <value />
            </setting>
            <setting name="button2" serializeAs="String">
                <value />
            </setting>
            <setting name="button3" serializeAs="String">
                <value />
            </setting>
            <setting name="button4" serializeAs="String">
                <value />
            </setting>
            <setting name="button5" serializeAs="String">
                <value />
            </setting>
            <setting name="button6" serializeAs="String">
                <value />
            </setting>
            <setting name="button7" serializeAs="String">
                <value />
            </setting>
            <setting name="button8" serializeAs="String">
                <value />
            </setting>
            <setting name="button9" serializeAs="String">
                <value />
            </setting>
            <setting name="button10" serializeAs="String">
                <value />
            </setting>
            <setting name="button11" serializeAs="String">
                <value />
            </setting>
            <setting name="button12" serializeAs="String">
                <value />
            </setting>
            <setting name="button14" serializeAs="String">
                <value />
            </setting>
            <setting name="button15" serializeAs="String">
                <value />
            </setting>
            <setting name="button16" serializeAs="String">
                <value />
            </setting>
            <setting name="button17" serializeAs="String">
                <value />
            </setting>
            <setting name="button18" serializeAs="String">
                <value />
            </setting>
            <setting name="button19" serializeAs="String">
                <value />
            </setting>
            <setting name="button20" serializeAs="String">
                <value />
            </setting>
            <setting name="button21" serializeAs="String">
                <value />
            </setting>
            <setting name="button22" serializeAs="String">
                <value />
            </setting>
            <setting name="button23" serializeAs="String">
                <value />
            </setting>
            <setting name="button24" serializeAs="String">
                <value />
            </setting>
            <setting name="button25" serializeAs="String">
                <value />
            </setting>
            <setting name="button26" serializeAs="String">
                <value />
            </setting>
            <setting name="button27" serializeAs="String">
                <value />
            </setting>
            <setting name="button28" serializeAs="String">
                <value />
            </setting>
            <setting name="button29" serializeAs="String">
                <value />
            </setting>
            <setting name="button30" serializeAs="String">
                <value />
            </setting>
            <setting name="button31" serializeAs="String">
                <value />
            </setting>
            <setting name="button32" serializeAs="String">
                <value />
            </setting>
            <setting name="button33" serializeAs="String">
                <value />
            </setting>
            <setting name="button34" serializeAs="String">
                <value />
            </setting>
            <setting name="button35" serializeAs="String">
                <value />
            </setting>
            <setting name="button36" serializeAs="String">
                <value />
            </setting>
            <setting name="button37" serializeAs="String">
                <value />
            </setting>
            <setting name="button38" serializeAs="String">
                <value />
            </setting>
            <setting name="button39" serializeAs="String">
                <value />
            </setting>
            <setting name="button40" serializeAs="String">
                <value />
            </setting>
            <setting name="button41" serializeAs="String">
                <value />
            </setting>
            <setting name="button42" serializeAs="String">
                <value />
            </setting>
            <setting name="button43" serializeAs="String">
                <value />
            </setting>
            <setting name="button44" serializeAs="String">
                <value />
            </setting>
            <setting name="button45" serializeAs="String">
                <value />
            </setting>
            <setting name="button46" serializeAs="String">
                <value />
            </setting>
            <setting name="button47" serializeAs="String">
                <value />
            </setting>
            <setting name="button48" serializeAs="String">
                <value />
            </setting>
            <setting name="button49" serializeAs="String">
                <value />
            </setting>
            <setting name="button50" serializeAs="String">
                <value />
            </setting>
            <setting name="button51" serializeAs="String">
                <value />
            </setting>
            <setting name="button52" serializeAs="String">
                <value />
            </setting>
            <setting name="button53" serializeAs="String">
                <value />
            </setting>
            <setting name="button54" serializeAs="String">
                <value />
            </setting>
            <setting name="button55" serializeAs="String">
                <value />
            </setting>
            <setting name="button56" serializeAs="String">
                <value />
            </setting>
            <setting name="button57" serializeAs="String">
                <value />
            </setting>
            <setting name="button58" serializeAs="String">
                <value />
            </setting>
            <setting name="button59" serializeAs="String">
                <value />
            </setting>
            <setting name="button60" serializeAs="String">
                <value />
            </setting>
        </Good_Morning.Properties.Settings>
    </userSettings>
</configuration>