<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Good_Morning.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Good_Morning.Properties.Settings>
            <setting name="button13" serializeAs="String">
                <value />
            </setting>
            <setting name="button1" serializeAs="String">
                <value />
            </setting>
            <setting name="button2" serializeAs="String">
                <value />
            </setting>
            <setting name="button3" serializeAs="String">
                <value />
            </setting>
            <setting name="button4" serializeAs="String">
                <value />
            </setting>
            <setting name="button5" serializeAs="String">
                <value />
            </setting>
            <setting name="button6" serializeAs="String">
                <value />
            </setting>
            <setting name="button7" serializeAs="String">
                <value />
            </setting>
            <setting name="button8" serializeAs="String">
                <value />
            </setting>
            <setting name="button9" serializeAs="String">
                <value />
            </setting>
            <setting name="button10" serializeAs="String">
                <value />
            </setting>
            <setting name="button11" serializeAs="String">
                <value />
            </setting>
            <setting name="button12" serializeAs="String">
                <value />
            </setting>
            <setting name="button14" serializeAs="String">
                <value />
            </setting>
            <setting name="button15" serializeAs="String">
                <value />
            </setting>
            <setting name="button16" serializeAs="String">
                <value />
            </setting>
            <setting name="button17" serializeAs="String">
                <value />
            </setting>
            <setting name="button18" serializeAs="String">
                <value />
            </setting>
            <setting name="button19" serializeAs="String">
                <value />
            </setting>
            <setting name="button20" serializeAs="String">
                <value />
            </setting>
            <setting name="button21" serializeAs="String">
                <value />
            </setting>
            <setting name="button22" serializeAs="String">
                <value />
            </setting>
            <setting name="button23" serializeAs="String">
                <value />
            </setting>
            <setting name="button24" serializeAs="String">
                <value />
            </setting>
            <setting name="button25" serializeAs="String">
                <value />
            </setting>
            <setting name="button26" serializeAs="String">
                <value />
            </setting>
            <setting name="button27" serializeAs="String">
                <value />
            </setting>
            <setting name="button28" serializeAs="String">
                <value />
            </setting>
            <setting name="button29" serializeAs="String">
                <value />
            </setting>
            <setting name="button30" serializeAs="String">
                <value />
            </setting>
        </Good_Morning.Properties.Settings>
    </userSettings>
</configuration>